
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /experimental/nomicly/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /experimental/nomicly/index.php [L]
</IfModule>

